* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*part 1 - Testimonial*/
body {
  width: 100%;
  background-color: #c3cfe2;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
}

p {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 385px;
  color: slategray;
  background-color: #fff;
  border-radius: 5% 5% 0% 0%;
  padding: 35px;
  font-size: larger;
  line-height: 170%;
}

footer {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 385px;
  align-items: center;
  background-color: #686de0;
  padding: 5%;
  border-radius: 0% 0% 5% 5%;
}
footer img {
  display: flex;
  justify-content: center;
  border-radius: 120px;
  border: 4px solid #fff;
  position: absolute;
  translate: 0px -100px;
}
footer h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
footer h4 {
  color: #c5c5e5;
  text-align: center;
  font-weight: lighter;
  padding-top: 15px;
}

.container {
  box-shadow: 0px 10px 10px -1px rgba(83, 83, 83, 0.75);
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 0% 0% 5% 5%;
  width: 385px;
}

/*part 2 - Portfolio_Grid*/
.container_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 20px;
}

.card {
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card .overlay {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(38, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .overlay:hover {
  opacity: 1;
}
.card .button {
  display: flex;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .container_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 30px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .container_grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 25px;
    margin: 30px 150px;
  }
}
/* Part 3 - Social Media Buttons*/
.socials {
  position: fixed;
  top: 200px;
  right: -200px;
  padding: 0;
  transform: translateY(-12%);
  width: 250px;
}
.socials li {
  list-style-type: none;
  padding: 10px;
}
.socials li:hover {
  transform: translateX(-80%);
  transition: 0.5s ease-in-out;
}
.socials a {
  color: #fff;
  padding-left: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.laptop {
  background-color: #e17b77;
}
.laptop::before {
  display: inline-block;
  text-rendering: auto;
  color: white;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f5fc";
}

.twitter {
  background-color: #00aced;
}
.twitter::before {
  display: inline-block;
  text-rendering: auto;
  color: white;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\f099";
}

.linkedin {
  background-color: #007bb6;
}
.linkedin::before {
  display: inline-block;
  text-rendering: auto;
  color: white;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\f0e1";
}

.facebook {
  background-color: #3b5998;
}
.facebook::before {
  display: inline-block;
  text-rendering: auto;
  color: white;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\f39e";
}

.github {
  background-color: #333;
}
.github::before {
  display: inline-block;
  text-rendering: auto;
  color: white;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  content: "\f09b";
}/*# sourceMappingURL=styles.css.map */